.membershipContainer{
    text-align: center;
    margin-top: 103px;

    
}

.membershipHeader{
    display: flex;
    justify-content: center;
    align-items: center;

}
.membershipHeader>div{
    margin: 5px;
}
.membershipHeader h3{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 15px;
}
.showStatus{
    font-weight: bold;
    color: #0000ffa8;
}
.membrBar{
    border-right: 2px solid #eeeeee;
    height: 17px;
}
/* Media Query for Mobile View */
@media only screen and (max-width:768px){
    .membershipHeader{
        flex-direction: column;
    }
    .membrBar{
        display: none;
    }
    
.membershipHeader>div{
    margin: 0px;
}
}