


/* .messagesContainer{max-width:1170px; margin:auto;} */
img{ max-width:100%;}
.inbox_people {
  /* background: #f8f8f8 none repeat scroll 0 0; */
  float: left;
  overflow: hidden;
  width: 30%;
  border-right: 2px solid #585757;
}
.inbox_msg {
  /* border: 1px solid #c4c4c4; */
   border-radius: 5px;
  clear: both;
  overflow: hidden;
  background-color: rgb(58, 56, 56);
}
.top_spac{ margin: 20px 0 0;}

.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; 
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#00bad7; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#00bad7; margin:auto}
.chat_img {
  float: left;
  width: 19%;
}
.chat_img img{
  border: 1px solid #c1bbbb;
    border-radius: 50%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 13px;
  /* width: 88%; */
}
.search-bar{
  /* color: #fffffff2; */
}
.fa-search{
  /* color: #fffffff2; */
}
.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  /* border-bottom: 1px solid #c4c4c4; */
  margin: 0;
  padding: 15px 0px 0px 17px;
}
/* .inbox_chat { height: 550px; overflow-y: scroll;} */

.active_chat{ 
  /* background:#ebebeb; */
}

.incoming_msg_img {
  display: inline-block;
  width: 8%;
}
.incoming_msg_img img{
    border-radius: 50%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #fffdfd;
  border-radius: 5px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 0px;
  color: #00bad7;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #00bad7;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 63%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 70%;
}
 .sent_msg p {
  background: #00bad7;
  border-radius: 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 0px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:0px 0 10px;}
.sent_msg {
  float: right;
  width: 63%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #00bad7;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { 
  padding: 0 0 50px 0;
  margin: 15px 7px 7px 7px;
  

}
.msg_history {
  /* height: 516px; */
  overflow-y: auto;
}



/*/////////////////////////////////// Media Query /////////////////////// */

@media only screen and (max-width: 990px){
  .chat_list {
    padding: 39px 9px 0px 15px;
  }
  .chat_ib {
    margin-top: -35px;
    padding: 3px 0 0 44px;
}
.srch_bar input {
  /* padding: 0px; */
}
.srch_bar .input-group-addon button {
font-size: 13px;
}
.srch_bar .input-group-addon {
  margin: 0 0 0 -17px;

}
}



/*//////////////////////  Mobile View  /////////////////////// */

@media only screen and (max-width: 768px){

.inbox_msg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inbox_people {
border-right: 0px;
}
.inbox_people {
  width: 100%;
}
.chat_ib {
  padding: 10px 0 0 28px;
  margin: 0px;
}
.chat_list {
  
  padding: 39px 0px 0px 122px;
}
.mesgs {
width: 100%;

}


}

@media only screen and (max-width: 500px){
.chat_list {
    padding: 39px 0px 0px 91px;
}
.chat_ib {
  padding: 5px 0 0 7px;
}

}

@media only screen and (max-width: 435px){

.chat_list {
    padding: 39px 0px 0px 70px;

}
}
@media only screen and (max-width: 400px){
.chat_list {
    padding: 39px 0px 0px 45px;
}

}
@media only screen and (max-width: 370px){
  .chat_list {
      padding: 39px 0px 0px 25px;
  }
  
  }